<%= form_for(@club) do |f| %>
  <% if @club.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
      <% @club.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
      <%= f.label "Nom" %><br>
      <%= f.text_field :name %>
    <div class="field">
      <%= f.label "Adresse" %><br>
      <%= f.text_field :adress %>
    </div>
    <div class="field">
      <%= f.label "NPA" %><br>
      <%= f.number_field :zip %>
    </div>
    <div class="field">
      <%= f.label "Ville" %><br>
      <%= f.text_field :city %>
    </div>
    <div class="actions btn">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
