<h1>Liste des clubs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresss</th>
      <th>NPA</th>
      <th>Ville</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.adress %></td>
        <td><%= club.zip %></td>
        <td><%= club.city %></td>
        <td><%= link_to 'Afficher', club %></td>
        <td><%= link_to 'Editer', edit_club_path(club) %></td>
        <td><%= link_to 'Effacer', club, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-primary">Ajouter un club</button>'.html_safe, new_club_path %>
