<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Adresss:</strong>
  <%= @club.adress %>
</p>

<p>
  <strong>NPA:</strong>
  <%= @club.zip %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @club.city %>
</p>

<%= link_to 'Modifier', edit_club_path(@club) %> |
<%= link_to 'Retour', clubs_path %>
