<h1>Liste des équipes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Homecolor</th>
      <th>Awaycolor</th>
      <th>Club</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.homeColor %></td>
        <td><%= team.awayColor %></td>
        <td><%= team.club.name %></td>
        <td><%= link_to 'Voir', team %></td>
        <td><%= link_to 'Modifier', edit_team_path(team) %></td>
        <td><%= link_to 'Supprimer', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-primary">Ajouter une équipe</button>'.html_safe, new_team_path %>
