<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Couleur domicile:</strong>
  <%= @team.homeColor %>
</p>

<p>
  <strong>Couleur à l'extérieur:</strong>
  <%= @team.awayColor %>
</p>

<p>
  <strong>Club:</strong>
  <%= @team.club.name %>
</p>

<p>
  <strong>Entraineur:</strong>
  <%= @team.coach.display_name %>
</p>

<p>
	<strong>Joueurs</strong><br />
	<table class="table table-striped" style="width:200px">
		<tr>
			<th>Nom</th>
			<th>N°</th>
		</tr>
		<% @team.players.each do |t| %>
		<tr>
			<td><%= t.display_name %></td>
			<td><%= t.noDossard %></td>
		</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Modifier', edit_team_path(@team) %> |
<%= link_to 'Retour', teams_path %>
