<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Homecolor:</strong>
  <%= @team.homeColor %>
</p>

<p>
  <strong>Awaycolor:</strong>
  <%= @team.awayColor %>
</p>

<p>
  <strong>Club:</strong>
  <%= @team.club %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
