<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Home color:</b>
  <%= @team.home_color %>
</p>

<p>
  <b>Away color:</b>
  <%= @team.away_color %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
