<h1>Liste des saisons</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Begin</th>
      <th>End</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @seasons.each do |season| %>
      <tr>
        <td><%= season.name %></td>
        <td><%= season.begin %></td>
        <td><%= season.end %></td>
        <td><%= link_to 'Show', season %></td>
        <td><%= link_to 'Edit', edit_season_path(season) %></td>
        <td><%= link_to 'Destroy', season, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-primary">Ajouter une saison</button>'.html_safe, new_season_path %>
