<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @season.name %>
</p>

<p>
  <strong>Début:</strong>
  <%= @season.begin %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @season.end %>
</p>

<%= link_to 'Modifier', edit_season_path(@season) %> |
<%= link_to 'Retour', seasons_path %>
