<%= form_for(@championship) do |f| %>
  <% if @championship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@championship.errors.count, "error") %> prohibited this championship from being saved:</h2>

      <ul>
      <% @championship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nom" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Fédération" %><br>
    <%= collection_select(:championship, :federation_id, Federation.all, :id , :name)%>
  </div>
  <div class="field">
    <%= f.label "Championnat" %><br>
    <%= collection_select(:championship, :season_id, Season.all, :id , :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
