<h1>Liste des championnats</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Fédération</th>
      <th>Saison</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @championships.each do |championship| %>
      <tr>
        <td><%= championship.name %></td>
        <td><%= championship.federation.name %></td>
        <td><%= championship.season.name %></td>
        <td><%= link_to 'Voir', championship %></td>
        <td><%= link_to 'Modifier', edit_championship_path(championship) %></td>
        <td><%= link_to 'Supprimer', championship, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-danger">Ajouter un championat</button>'.html_safe, new_championship_path %>
