<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @championship.name %>
</p>

<p>
  <strong>Fédération:</strong>
  <%= @championship.federation %>
</p>

<p>
  <strong>Saison:</strong>
  <%= @championship.season %>
</p>

<%= link_to 'Modifier', edit_championship_path(@championship) %> |
<%= link_to 'Retour', championships_path %>
