<h1>Liste de <%= Participant.name_FR(params[:type]) %> </h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénome</th>
      <th>Anniversaire</th>
      <th>Téléphone</th>
      <th>Sexe</th>
      <% if params[:type] == "Player" then %>
      <th>Nodossard</th>
      <th>No license</th>
      <th>Datequalification</th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td><%= participant.firstname %></td>
        <td><%= participant.birthday %></td>
        <td><%= participant.phone %></td>
        <td><%= participant.sexeString %></td>
        <% if params[:type] == "Player" then %>
        <td><%= participant.noDossard %></td>
        <td><%= participant.no_license %></td>
        <td><%= participant.dateQualification %></td>
        <% end %>
        <td><%= link_to 'Voir', participant %></td>
        <td><%= link_to 'Modifier', edit_participant_path(participant) %></td>
        <td><%= link_to 'Supprimer', participant, method: :delete, data: { confirm: 'Etes-vous sur?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "<button type='button' class='btn btn-danger'>Ajouter un #{Participant.name_FR(params[:type])}</button>".html_safe, :action => :new %>
