<h1>Listing participants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Firstname</th>
      <th>Birthday</th>
      <th>Phone</th>
      <th>Sexe</th>
      <th>Type</th>
      <th>Nodossard</th>
      <th>No license</th>
      <th>Datequalification</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td><%= participant.firstname %></td>
        <td><%= participant.birthday %></td>
        <td><%= participant.phone %></td>
        <td><%= participant.sexe %></td>
        <td><%= participant.type %></td>
        <td><%= participant.noDossard %></td>
        <td><%= participant.no_license %></td>
        <td><%= participant.dateQualification %></td>
        <td><%= link_to 'Show', participant %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
