<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @participant.firstname %>
</p>

<p>
  <strong>Date d'anniversaire:</strong>
  <%= @participant.birthday %>
</p>

<p>
  <strong>N° de téléphone:</strong>
  <%= @participant.phone %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @participant.sexeString %>
</p>
<% if @participant.type == "Player" %>
<p>
  <strong>N° de maillot:</strong>
  <%= @participant.noDossard %>
</p>

<p>
  <strong>N° license:</strong>
  <%= @participant.no_license %>
</p>

<p>
  <strong>Date de qualification:</strong>
  <%= @participant.dateQualification %>
</p>
<% end %>
<%= link_to 'Modifier', edit_participant_path(@participant) %> |
<%= link_to 'Retour', participants_path %>
