<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @participant.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @participant.firstname %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @participant.birthday %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @participant.phone %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @participant.sexe %>
</p>

<p>
  <strong>Type:</strong>
  <%= @participant.type %>
</p>

<p>
  <strong>Nodossard:</strong>
  <%= @participant.noDossard %>
</p>

<p>
  <strong>No license:</strong>
  <%= @participant.no_license %>
</p>

<p>
  <strong>Datequalification:</strong>
  <%= @participant.dateQualification %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
