<%= form_for(@fact) do |f| %>
  <% if @fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% @fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= debug(@fact) %>
  <div class="field">
    <%= f.label :time %><br />
    <%= time_select(:fact,:time) %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br />
    <%= collection_select(:fact, :match_id, Match.all, :id , :name) (:fact, :match_id) %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= text_field(:fact, :type) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
