<h1>Liste des fédérations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @federations.each do |federation| %>
      <tr>
        <td><%= federation.name %></td>
        <td><%= link_to 'Voir', federation %></td>
        <td><%= link_to 'Modifier', edit_federation_path(federation) %></td>
        <td><%= link_to 'Supprimer', federation, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-danger">Ajouter une fédération</button>'.html_safe, new_federation_path %>
