<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @federation.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @federation.logo %>
</p>

<%= link_to 'Edit', edit_federation_path(@federation) %> |
<%= link_to 'Back', federations_path %>
