<h1>Liste des chronométreurs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Login</th>
      <th>Club</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timekeepers.each do |timekeeper| %>
      <tr>
        <td><%= timekeeper.login %></td>
        <td><%= timekeeper.club.name %></td>
        <td><%= link_to 'Voir', timekeeper %></td>
        <td><%= link_to 'Modifier', edit_timekeeper_path(timekeeper) %></td>
        <td><%= link_to 'Supprimer', timekeeper, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-danger">Ajouter un chronométreur</button>'.html_safe, new_timekeeper_path %>
