<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Date" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label "Championnat" %><br>
    <%= collection_select(:match, :championship_id, Championship.all, :id , :name) %>
  </div>
  <div class="field">
    <%= f.label "Salle" %><br>
    <%= collection_select(:match, :gym_id, Gym.all, :id , :name) %>
  </div>
  <div class="field">
    <%= f.label "Arbitre" %><br>
    <%= collection_select(:match, :referee_id, Referee.all, :id , :display_name) %>
  </div>
  <div class="field">
    <%= f.label "Equipe hôte" %><br>
    <%= collection_select(:match, :team_id1_id, Team.all, :id , :display_name) %>
  </div>
  <div class="field">
    <%= f.label "Equipe visiteuse" %><br>
    <%= collection_select(:match, :team_id2_id, Team.all, :id , :display_name) %>
  </div>
  <div class="actions btn">
    <%= f.submit %>
  </div>
<% end %>
