<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :home_score %><br />
    <%= f.number_field :home_score %>
  </div>
  <div class="field">
    <%= f.label :host_score %><br />
    <%= f.number_field :host_score %>
  </div>
  <div class="field">
    <%= f.label :championship_id %><br />
    <%= f.number_field :championship_id %>
  </div>
  <div class="field">
    <%= f.label :gym_id %><br />
    <%= f.number_field :gym_id %>
  </div>
  <div class="field">
    <%= f.label :team1_id %><br />
    <%= f.number_field :team1_id %>
  </div>
  <div class="field">
    <%= f.label :team2_id %><br />
    <%= f.number_field :team2_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
