<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :homeScore %><br>
    <%= f.number_field :homeScore %>
  </div>
  <div class="field">
    <%= f.label :awayScore %><br>
    <%= f.number_field :awayScore %>
  </div>
  <div class="field">
    <%= f.label :championship_id %><br>
    <%= collection_select(:match, :championship_id, Championship.all, :id , :name) %>
  </div>
  <div class="field">
    <%= f.label :gym_id %><br>
    <%= collection_select(:match, :gym_id, Gym.all, :id , :name) %>
  </div>
  <div class="field">
    <%= f.label :team_id1_id %><br>
    <%= collection_select(:match, :team_id1_id, Team.all, :id , :name) %>
  </div>
  <div class="field">
    <%= f.label :team_id2_id %><br>
    <%= collection_select(:match, :team_id2_id, Team.all, :id , :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
