<h1>Liste des matchs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Score Hôtes</th>
      <th>Score Visiteurs</th>
      <th>Championnat</th>
      <th>Salle</th>
      <th>Hôte</th>
      <th>Visiteurs</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.date %></td>
        <td><%= match.homeScore %></td>
        <td><%= match.awayScore %></td>
        <td><%= match.championship.name %></td>
        <td><%= match.gym.name %></td>
        <td><%= match.team1.name %></td>
        <td><%= match.team2.name %></td>
        <td><%= link_to 'Voir', match %></td>
        <td><%= link_to 'Modifier', edit_match_path(match) %></td>
        <td><%= link_to 'Supprimer', match, method: :delete, data: { confirm: 'Etes vous sur ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-primary">Ajouter un match</button>'.html_safe, new_match_path %>
