<h1>Liste des matchs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Championnat</th>
      <th>Salle</th>
      <th>Arbitre</th>
      <th>Hôte</th>
      <th>Visiteurs</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.date.to_formatted_s(:short)  %></td>
        <td><%= match.championship.name %></td>
        <td><%= match.gym.name %></td>
        <td><%= if !match.referee.nil? then match.referee.display_name end %></td>
        <td><%= match.team1.display_name %></td>
        <td><%= match.team2.display_name %></td>
        <td><%= link_to 'Voir', match %></td>
        <td><%= link_to 'Modifier', edit_match_path(match) %></td>
        <td><%= link_to 'Supprimer', match, method: :delete, data: { confirm: 'Etes vous sur ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-danger">Ajouter un match</button>'.html_safe, new_match_path %>
