<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @match.date %>
</p>

<p>
  <strong>Championnat:</strong>
  <%= @match.championship.name %>
</p>

<p>
  <strong>Salle:</strong>
  <%= @match.gym.name %>
</p>

<p>
  <strong>Equipe hôte :</strong>
  <%= @match.team1.display_name %>
</p>

<p>
  <strong>Equipe visiteuse</strong>
  <%= @match.team2.display_name %>
</p>

<%= link_to 'Modifier', edit_match_path(@match) %> |
<%= link_to 'Retour', matches_path %>
