<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @match.date %>
</p>

<p>
  <strong>Homescore:</strong>
  <%= @match.homeScore %>
</p>

<p>
  <strong>Awayscore:</strong>
  <%= @match.awayScore %>
</p>

<p>
  <strong>Championship:</strong>
  <%= @match.championship %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @match.gym %>
</p>

<p>
  <strong>Team id1:</strong>
  <%= @match.team_id1 %>
</p>

<p>
  <strong>Team id2:</strong>
  <%= @match.team_id2 %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
