<h1>Listing gyms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Adress</th>
      <th>Zip</th>
      <th>City</th>
      <th>Federation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gyms.each do |gym| %>
      <tr>
        <td><%= gym.name %></td>
        <td><%= gym.adress %></td>
        <td><%= gym.zip %></td>
        <td><%= gym.city %></td>
        <td><%= gym.federation.name %></td>
        <td><%= link_to 'Show', gym %></td>
        <td><%= link_to 'Edit', edit_gym_path(gym) %></td>
        <td><%= link_to 'Destroy', gym, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-primary">Ajouter une salle</button>'.html_safe, new_gym_path %>
