<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @gym.adress %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @gym.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @gym.city %>
</p>

<p>
  <strong>Federation:</strong>
  <%= @gym.federation.name %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', gyms_path %>
