<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @gym.adress %>
</p>

<p>
  <strong>NPA:</strong>
  <%= @gym.zip %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @gym.city %>
</p>

<p>
  <strong>Fédération:</strong>
  <%= @gym.federation.name %>
</p>

<%= link_to 'Modifier', edit_gym_path(@gym) %> |
<%= link_to 'Retour', gyms_path %>
