<span class="title-page">Matchs joués - <%= @championship.name %></span>
<div class="inner_contennt">
  <table class="datagrid">
     <thead> 
      <tr>
        <th>Date</th>
        <th>Rencontre</th>
        <th>Résultat</th>
      </tr>
    </thead>
    <tbody>
    <% @matches.each do | match |
      if match.date < Time.now && r.championship_id == @championship.id %>
      <tr>
        <td>
          <%= match.date %>
        </td>
        <td>
          <a href=""><%= match.team1_name %> vs <%= match.team2_name %></a>
        </td>
        <td>
          <%= match.homeScore %> - <%= match.awayScore%>
        </td>
      </tr>
    <% end
    end %>
    </tbody>
  </table>
</div>