<span class="title-page">
  <%= image_tag "#{@team.name}.png", :alt => "Logo de l'équipe #{@team.name}" %>
	<%= @team.name %>
</span>
<div class="inner_contennt">
  <%= "Coach: #{@coach.firstname} #{@coach.name}" if not @coach.nil? %>
  <table class="datagrid">
     <thead> 
      <tr>
        <th class="name">Nom</th>
        <th>Buts</th>
        <th>But 7m</th>
        <th>Avert.</th>
        <th>Total 2'</th>
        <th>Carton rouge</th>
        <th>Matchs</th>
        <th>Buts/match</th>
      </tr>
    </thead>
    <tbody>
    <% @players.each do | player | %>
        <tr>
          <td>
            <%= player.participant_name %> <%= player.participant_firstname %> 
          </td>
          <td>
            <%= player.goal %> 
          </td>
          <td>
            <%= player.penalty %> 
          </td>
          <td>
            0
          </td>
          <td>
            <%= player.foul %> 
          </td>
          <td>
            0
          </td>
          <td>
            
          </td>
          <td>
            
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>