<span class="title-page">Classement du championnat <%= @championship.name %></span>
<div class="inner_contennt">
  <table class="datagrid">
     <thead> 
      <tr>
        <th>no</th>
        <th>Equipe</th>
        <th>Pts</th>
        <th>J</th>
        <th>G</th>
        <th>N</th>
        <th>P</th>
        <th>bp</th>
        <th>bc</th>
        <th>+/-</th>
      </tr>
    </thead>
    <tbody>
    <% @ranking.each_with_index do | (key, r), i | %>
      <tr>
        <td>
          <%= i %>
        </td>
        <td>
          <%= r.team_name %>
        </td>
        <td>
          <%= r.score %>
        </td>
        <td>
          <%= r.win + r.equal + r.lose %>
        </td>
        <td>
          <%= r.win %>
        </td>
        <td>
          <%= r.equal %>
        </td>
        <td>
          <%= r.lose %>
        </td>
        <td>
          <%= r.goals_scored %>
        </td>
        <td>
          <%= r.let_in_goals %>
        </td>
        <td>
          <%= r.goals_scored - r.let_in_goals %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>