<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag 	 "bootstrap.min", :media => 'all' %>
  <%= stylesheet_link_tag 	 "bootstrap-theme.min", :media => 'all' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
  </head>
  <body>
  	    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ChronStat</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Club", controller: "clubs", action: "index" %></li>
            <li><%= link_to "Championnat", controller: "championships", action: "index" %></li>
            <li><%= link_to "Chronométreur", controller: "timekeepers", action: "index" %></li>
            <li><%= link_to "Equipes", controller: "teams", action: "index" %></li>
            <li><%= link_to "Federation", controller: "federations", action: "index" %></li>
            <li><%= link_to "Salle", controller: "gyms", action: "index" %></li>
            <li><%= link_to "Matches", controller: "matches", action: "index" %></li>
            <li><%= link_to "Membres", controller: "members", action: "index" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Participants <b class="caret"></b></a>
              <ul class="dropdown-menu">	
        		<li><%= link_to "Arbitre", controller: "clubs", action: "index" %></li>
                <li></li>
            	<li><%= link_to "Coach", controller: "clubs", action: "index" %></li>
                <li></li>
            	<li><%= link_to "Joueur", controller: "clubs", action: "index" %></li>
                <li></li>
              </ul>
             <li><%= link_to "Saison", controller: "seasons", action: "index" %></li>
            </li>
             <% if signed_in? %>
                <li><%= link_to "Déco.", signout_path %></li>
              <% else %>
                <li><%= link_to "S'identifier", signin_path %></li>
              <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <% if flash[:error] -%>
        <p class='error'><%=h flash[:error] %></p>
      <% end -%>
      <% if flash[:notice] -%>
        <p class='error'><%=h flash[:error] %></p>
      <% end -%>


      <!-- Main component for a primary marketing message or call to action -->
      	<%= yield %>
        </p>


    </div> <!-- /container -->
    		