<!DOCTYPE html>
<html lang="fr"> 
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="description" content="Chron&Stats" />
      <title>Chron&Stats</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag "style", :media => 'all' %>
      <%= javascript_include_tag "application" %>
  </head>
   <body>
    <!--start mainContainer-->
    <div id="mainContainer">
      <!--start header-->
      <div id="header">
        <div id="banner"><span>Chron&Stats</span> - Projet de groupe IL 2013</div>
      </div>
      <!--end header-->
      <!--start content-->
      <div id="outer">
        <!-- start menu -->
      <div id="menu">
        <ul class="menu-first-level">
          <li class="home-button">
            <%= 
            link_to root_path do
              image_tag "home.jpg", :alt => "Accueil"
            end
            %>
          </li>
          <% championships.each do |championship| %>
            <li>
              <a href="#" id="<%= championship.name.delete(" ") %>"><%= championship.name %></a>
            </li>
          <% end %>
        </ul>
        <% championships.each do |championship| %>
          <span class="info"><%= championship.name %></span>
          <ul class="menu-second-level" id="mnu_<%= championship.name.delete(" ") %>">
            <li>
              <%= link_to "Classement", controller: "stats", action: "show_ranking", championship_name: championship.name %>
            </li>
            <li>
              <%= link_to "Matchs joués", controller: "stats", action: "show_played_matches", championship_name: championship.name %>
            </li>
            <li>
              <%= link_to "Matchs à venir", controller: "stats", action: "show_future_matches", championship_name: championship.name %>
            </li>
            <li>
              <a href="#" id="link_equipes_<%= championship.name.delete(" ") %>">Equipes</a>
            </li>
          </ul>
          <ul class="menu-third-level" id="equipes_<%= championship.name.delete(" ") %>">
            <% chTeams.each do | team | 
              if team.championship_name == championship.name %>
                <li>
                  <%= 
                  link_to controller: "stats", action: "show_team", championship_name: championship.name, team_name: team.team_name  do
                    image_tag "#{team.team_name}.png", :alt => "Logo de l'équipe #{team.team_name}"
                  end
                  %>
                </li>
            <% end
            end %>
          </ul>
        <% end %>
      </div>
      <!-- end menu -->
      <div id="content">
        <%= yield %>
      </div>
      <!--end content-->

      <div id="footer">
        Copyright 2013 Chron&Stats | <%= link_to "Admin", controller: "clubs", action: "index" %>
      </div>  

    </div>
    <!--end mainContainer-->
  </body>
</html> 

