<h1>Liste des membre</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Login</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Mot de passe</th>
      <th>Federation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.firstname %></td>
        <td><%= member.login %></td>
        <td><%= member.phone %></td>
        <td><%= member.email %></td>
        <td><%= member.password %></td>
        <td><%= member.federation.name %></td>
        <td><%= link_to 'Voir', member %></td>
        <td><%= link_to 'Modifier', edit_member_path(member) %></td>
        <td><%= link_to 'Supprimer', member, method: :delete, data: { confirm: 'Etes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-primary">Ajouter un membre</button>'.html_safe, new_member_path %>
