<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @member.firstname %>
</p>

<p>
  <strong>Login:</strong>
  <%= @member.login %>
</p>

<p>
  <strong>N° de téléphone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Mot de passe:</strong>
  <%= @member.password %>
</p>

<p>
  <strong>Fédération:</strong>
  <%= @member.federation.name %>
</p>

<%= link_to 'Modifier', edit_member_path(@member) %> |
<%= link_to 'Retour', members_path %>
